@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
body {
  font-family: "Montserrat", sans-serif;
}
.container {
  /* w-[90%] pl-4 pr-4 ml-auto mr-auto */
}
.section {
  /* pt-12 pb-12 */
}
.header {
  /*mb-4 font-normal text-2xl*/
}
.sub-header {
  /*leading-7 text-center*/
}
